@use './../variables' as *;
@use './../mixins' as *;

.header {
  background-color: $color-background;
  border-bottom: 1px solid $color-border;
  box-shadow: 0 4px 12px rgba($color-dark, 0.12);
  z-index: 50;
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 68px;
  }

  &__subtitle-container {
      display: none;
  }

  & .hero__subtitle {
    margin: 0;
  }

  @include desktop {
    &__container {
      gap: 20px;
      min-height: 80px;
    }

     &__subtitle-container {
      display: block;
    }
  }
}
