<footer class="footer" id="footer">
  <div class="container footer__container">
    <div class="footer__brand">
      <p class="footer__brand-header">Походи, гори та пригоди.</p>
    </div>

    <nav class="footer__navigation" aria-label="Навігація у футері">
      <a class="footer__navigation-link" href="#hikes">Походи</a>
      <a class="footer__navigation-link" href="#hot-spots">HOT SPOT</a>
      <a class="footer__navigation-link" href="#routes">Маршрути</a>
      <a class="footer__navigation-link" href="#reviews">Відгуки</a>
      <a class="footer__navigation-link" href="#gallery">Галерея</a>
      <a class="footer__navigation-link" href="#faq">FAQ</a>
    </nav>

    <div class="footer__contacts">
      <a class="footer__contacts-link icon icon-tel" href="tel:+380000000000"> +38 (000) 000-00-00 </a>

      <a class="footer__contacts-link icon icon-email" href="mailto:hello@hike.com"> hello@hike.com </a>

      <a class="footer__contacts-link icon icon-telegram" href="https://t.me/" target="_blank"
        rel="noopener noreferrer"> Telegram
      </a>

      <a class="footer__contacts-link icon icon-instagram" href="https://instagram.com/" target="_blank"
        rel="noopener noreferrer">
        Instagram
      </a>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__bottom-container">
      <span class="">Developed by</span>
      <a class="footer__contacts-link logo-author" href="https://www.linkedin.com/in/anastasiia-hombalevska/"
        target="_blank"></a>
    </div>
  </div>
</footer>