<div class="footer">
  <div class="container footer__container">
    <nav class="footer__navigation" aria-label="Навігація у футері">
      <a class="footer__navigation-link" href="./index.html#hikes">Походи</a>
      <a class="footer__navigation-link" href="./index.html#routes">Маршрути</a>
      <a class="footer__navigation-link" href="./equipment.html">Спорядження </a>
      <a class="footer__navigation-link" href="./index.html#faq">FAQ</a>
    </nav>

    <div class="footer__contacts">
      <a class="footer__contacts-link icon icon-tel" href="tel:+380000000000"> +38 (000) 000-00-00 </a>

      <a class="footer__contacts-link icon icon-telegram" href="https://t.me/" target="_blank"
        rel="noopener noreferrer">Telegram
      </a>

      <a class="footer__contacts-link icon icon-instagram" href="https://instagram.com/" target="_blank"
        rel="noopener noreferrer">
        Instagram
      </a>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__bottom-container">
      <span class="">Developed by</span>
      <a class="footer__contacts-link logo-author" href="https://www.linkedin.com/in/anastasiia-hombalevska/"
        target="_blank"></a>
    </div>
  </div>
</div>